DoorRecording/FACES
DoorRecording/parcel_templates

Text2Speech/config.py
Text2Speech/myenv
Text2Speech/__pycache__

VoiceAssistant/vosk-model-small-en-us-0.15

CallApp/webrtc-doorbell



DoorBellMain/DoorRecording/FACES
Doorbellmain/DoorRecording/parcel_templates

Doorbellmain/Text2Speech/config.py
Doorbellmain/Text2Speech/myenv
Doorbellmain/Text2Speech/__pycache__

Doorbellmain/VoiceAssistant/vosk-model-small-en-us-0.15

Doorbellmain/CallApp/webrtc-doorbell



/DoorBellMain/DoorRecording/FACES
/Doorbellmain/DoorRecording/parcel_templates

/Doorbellmain/Text2Speech/config.py
/Doorbellmain/Text2Speech/myenv
/Doorbellmain/Text2Speech/__pycache__

/Doorbellmain/VoiceAssistant/vosk-model-small-en-us-0.15

/Doorbellmain/CallApp/webrtc-doorbell
